@charset "utf-8";

body {
  margin: 0;
  background-image: url(img/istockphoto-1156297861-2048x2048.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

main {
  width: 100%;
  position: relative;
}

#setting-icon {
  /* fill: rgba(255, 255, 255, 0.9); */
  position: absolute;
  top: 0;
  right: 24px;
  cursor: pointer;
}

.timer-wrapper {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 24px;
}

.ring {
  width: 220px;
  height: 220px;
  transform: rotate(90deg) scaleX(-1);
}

.ring-bg,
.ring-progress {
  fill: none;
  stroke-width: 10;
}

.ring-bg {
  stroke: rgba(255, 255, 255, 0.25);
}

.ring-progress {
  stroke: #fff;
  stroke-linecap: round;
}

#timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 200px;
  height: 200px;
  margin: 0;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);

  color: #fff;
  font-size: 36px;
  letter-spacing: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#start {
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

#start-icon {
  fill: white;
}

#start:hover {
  background: rgba(255, 255, 255, 0.3);
}


/* -----設定画面----- */
section#setting-display {
  background: #fff;
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 12px;
}

#work-timer,
#rest-timer {
  display: flex;
  justify-content: space-between;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 

#work-timer input,
#rest-timer input {
  all: unset;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 8px;
  padding: 0 8px;
  text-align: right;
  font-size: 20px;
}

#set-count {
  all: unset;
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 8px;
  padding: 0 8px;
  text-align: right;
  font-size: 20px;
}






/* #setting-display.hidden {
  display: none;
} */